@model List<GetNotificationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Bildirim İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Bildirim Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Bildirimler ile ilgili işlemler aşağıda yer almaktadır.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tip</th>
                                    <th scope="col">İkon</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">Okundu Bilgisi/Güncelle</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>@(Model.IndexOf(item) + 1)</th>
                                        <td>@item.Type</td>
                                        <td>@item.Icon</td>
                                        <td>@item.Date</td>
                                        <td>@item.Description</td>
                                        <td><a href="/Notification/ChangeNotificationStatus/@item.Id" class="btn btn-warning btn-border btn-round">@(item.IsRead ? "Okundu" : "Okunmadı")</a></td>
                                        <td><a href="/Notification/ChangeState/@item.Id" class="btn btn-warning btn-border btn-round">@(item.State ? "Aktif" : "Pasif")</a></td>
                                        <td><a href="/Notification/Delete/@item.Id" class="btn btn-danger btn-border btn-round">Sil</a></td>
                                        <td><a href="/Notification/Update/@item.Id" class="btn btn-success btn-border btn-round">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <td><a href="/Notification/Create/" class="btn btn-outline-primary">Yeni Ekle</a></td>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
